body {
  background: #f2f2f2;
}

ul {
  position: relative;
  transform: rotate(-35deg) skew(20deg, 5deg);
  margin-left: 200px;
}

.list-item {
  background: #000;
  color: #575757;
  text-align: center;
  height: 2.5em;
  width: 4em;
  vertical-align: middle;
  line-height: 2.5em;
  border-bottom: 1px solid #060606;
  position: relative;
  display: block;
  text-decoration: none;
  box-shadow: -2em 1.5em 0 #e1e1e1;
  transition: all 0.25s linear;
}

.list-item:hover {
  background: #ff6e42;
  color: #fffcfb;
  transform: translate(0.9em, -0.9em);
  box-shadow: -2em 2em 0 #e1e1e1;
}

.list-item:hover:before,
.list-item:hover:after {
  transition: all 0.25s linear;
}

.list-item:hover:before {
  background: #b65234;
  width: 1em;
  top: 0.5em;
  left: -1em;
}

.list-item:hover:after {
  background: #b65234;
  width: 1em;
  bottom: -2.5em;
  left: 1em;
  height: 4em; /* 세미콜론이 누락되었습니다 */
}

.list-item:before,
.list-item:after {
  content: "";
  position: absolute; /* 세미콜론이 누락되었습니다 */
  transition: all 0.25s linear;
  width: 0.5em;
}

.list-item:before {
  height: 2.5em; /* 세미콜론이 누락되었습니다 */
  background: #121212;
  top: 0.25em;
  left: -0.5em;
  transform: skewY(-45deg); /* 세미콜론이 누락되었습니다 */
}

.list-item:after {
  height: 4em;
  background: #181818;
  bottom: -2.25em;
  left: 1.5em;
  transform: rotate(90deg) skew(0, 45deg); /* 세미콜론이 누락되었습니다 */
}
